
<h1>test</h1>
<h1 *ngIf="member">{{member.knownAs}}</h1>
<!-- <div class="row" *ngIf="member">
    <h1 >{{member.knownAs}}</h1>
    <div class="col-4">
        <img src="{{member.photoUrl || './assets/user.png'}} " alt="{{member.knownAs}}"
        class="card-img-top img-thumbnail">
        <div class="card-body">
            <div>
                <strong>Location:</strong>
            </div>
            <p>{{member.city}}, {{member.country}}</p>

            <div>
                <strong>Age:</strong>
            </div>
            <p>{{member.age}}</p>


            <div>
                <strong>Last active:</strong>
            </div>
            <p>{{member.lastActive}}</p>


            <div>
                <strong>Member since:</strong>
            </div>
            <p>{{member.created}}</p>
        </div>
    </div>

    <div class="card-footer">
        <div class="btn-group d-flex">
            <button class="btn btn-primary">Like</button>
            <button class="btn btn-success">Messages</button>
        </div>
    </div>
</div> -->